form {
    margin-bottom: 1%;
  }
  body {
    margin: 30px;
    color: #184d47;
  }
  
  h1 {
    color: #184d47;
    margin-bottom: 0;
    font-size: 32px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #184d47;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #184d47;
    font-size: 70px;
    margin-left: 35px;
  }

  h2 i {
    font-size: 55px;
    font-weight: 100;
    margin-right: -10px;
    margin-top: 50px;
  }

  p {
    margin-top: -10%;
    margin-bottom: 0;
  }
  
  button {
    font-size: 16px;
    padding: .375rem .75rem;
    border-radius: 5px;
    border: 1px solid #184d47;
    background-color: #fff;
    width: 100%;
  }
  
  i {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
    top: 5px;
    color: #184d47;
  }
  
  footer {
    text-align: center;
  }
  
  .weather-app {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #d6efc7;
    border-radius: 5px;
    border: 1px solid seagreen;
  }
  
  .search-form {
    margin-bottom: 12px;
  }
  
  .form-control {
    border: 1px solid #184d47;
  }

  .units {
    font-size: 18px; 
    position: relative;
    top: -37px;
    left: -13px;
  }

  .conditions {
    font-size: 10px;
  }

  .weekly-report {
    text-align: center;
    margin-top: 15px;
  }

  a {
    color: #184d47;
    text-decoration: none;
  }
  