form {
    margin-bottom: 1%;
  }
  body {
    margin: 30px;
    color: #184d47;
  }
  
  h1 {
    color: #184d47;
    margin-bottom: 0;
    font-size: 32px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #184d47;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #184d47;
    font-size: 60px;
    font-weight: 400;
    margin-top: -8px;
    margin-left: 10px;
    text-align: left;
  }

  h1 img {
    font-size: 55px;
    font-weight: 100;
    margin: block;
    margin-right: -20px;
    margin-top: -15px;
    text-align: left;
    margin-left: -15px;
  }

  h2 {
    font-size: 25px;
    font-weight: 500;
    margin-top: -33px;
    margin-bottom: 0px;
    margin-left: 15px;
  }

  button {
    font-size: 16px;
    padding: .375rem .75rem;
    border-radius: 5px;
    border: 1px solid #184d47;
    background-color: #fff;
    width: 100%;
  }
  
  i {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
    top: 5px;
    color: #184d47;
  }
  
  footer {
    text-align: center;
  }
  
  li::first-letter {
    text-transform: capitalize;
  }

  .weather-app {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #d6efc7;
    border-radius: 5px;
    border: 1px solid seagreen;
  }

  .form-control {
    border: 1px solid #184d47;
  }

  .current-weather-conditions {
    border-bottom: 1px solid #ffff;
    padding-bottom: 8px;
  }

  .units {
    font-size: 18px; 
    position: relative;
    top: -30px;
    left: -13px;
  }

  .conditions {
    font-size: 10px;
    margin-right: 20px;
    margin-top: -30px;
    text-align: right;
  }

  .weather-forecast {
    text-align: center;
    margin-top: 18px;
  }

  a {
    color: #184d47;
    text-decoration: none;
  }
  